.motivacao-bg {
  background-color: #f1edff;
}

.contato-container {
  max-width: 100%;
}

.contato-conteudo {
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  margin: 80px 0px;
  padding: 10px;
  text-shadow: 1px 1px 20px rgb(245, 245, 245);
  padding: 70px 20px 0px 20px;
}

.contato-redes-container {
  max-width: 100%;
}

.contato-redes-bg {
  background-color: rgb(107, 102, 102);
  box-shadow: inset 0 240px #fff;
  height: 670px;
}

.contato-redes {
  max-width: 1000px;
  margin: 0 auto;
  height: 450px;
  width: 90%;
  border-radius: 28px;
  background-color: var(--cor-3);
  display: grid;
  justify-items: center;
  align-content: space-evenly;
  box-shadow: 1px 1px 25px -4px rgb(123 123 123);
}

.contato-redes a {
  background: linear-gradient(to right, #4a4a4a 10%, #201e1e 90%);
  padding: 28px 142px;
  border-radius: 24px;
}

.contato-redes a:hover {
  color: var(--cor-1);
}

.contato-redes .teste-1 a,
.contato-redes .teste-2 a {
  display: flex;
  gap: 10px;
  transition: all 1000ms;
  position: relative;
  overflow: hidden;
  outline: 2px solid #f0462f;
}

.contato-redes .teste-1 a:hover,
.contato-redes .teste-2 a:hover {
  color: #ffffff;
  transform: scale(1.1);
  outline: 2px solid #fcfcfc;
  box-shadow: 4px 5px 17px -4px #72160a;
}

.contato-redes .teste-1 a::before,
.contato-redes .teste-2 a::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #9e2f03;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.contato-redes .teste-1 a:hover::before,
.contato-redes .teste-2 a:hover::before {
  width: 250%;
}

.contato-redes .teste-2 {
  display: flex;
  gap: 26px 60px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.contato-redes .teste-2 a {
  display: flex;
  gap: 10px;
}

.contato-redes p {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 985px) {
  .contato-redes {
    height: 500px;
  }
}

@media (max-width: 815px) {
  .contato-conteudo {
    font-size: 1.8rem;
  }

  .contato-redes a {
    padding: 28px 122px;
  }
}

@media (max-width: 460px) {
  .contato-redes a {
    padding: 28px 100px;
  }
}

@media (max-width: 430px) {
  .contato-redes a {
    padding: 28px 80px;
  }
}
