.header-bg{
  background-color: var(--cor-1);
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0px 20px 0px;
}

.header-conteudo{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
}

.header-menu ul{
  display: flex;
  gap: 40px;
}

.header-menu a{
  font-size: 1.2rem;
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  font-weight: bolder;
  background-color: var(--cor-3);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width:445px){
  .header-conteudo img{
    max-width: 250px;
  }
}