* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-0);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px 0px 20px;
}

.orcamento ul{
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: var(--cor-5);
  flex-direction: column;
  gap: 20px;
  display: inline-flex;
  padding: 30px 15px;
  border-radius:20px 20px 20px 20px;
  position: fixed;
  bottom: 52px;
  right: 20px;
  z-index: 5;
}

.orcamento ul li:hover{
  box-shadow: 1px 1px 20px rgb(255, 51, 0);
  border-radius: 50%;
}

.btn-1{
  margin-top: 26px;
  background-color: #9e2f03;
  border-radius: 20px 20px 20px 20px;
  font-size: 1.1rem;
  padding: 16px 12px;
  text-align: end;
  text-transform: uppercase;
  border: 1px solid white;
  cursor: pointer;
}

.btn-1:hover{
  color: #ffffff;
  outline: 2px solid #fcfcfc;
  box-shadow: 4px 5px 17px -4px #72160a;
  background-color: var(--cor-5)
}