* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-0);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 20px 0px 20px;
}

.orcamento ul{
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: var(--cor-5);
  flex-direction: column;
  gap: 20px;
  display: inline-flex;
  padding: 30px 15px;
  border-radius:20px 20px 20px 20px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 5;
}

.orcamento ul li{

}

.orcamento ul li:hover{
  box-shadow: 1px 1px 20px rgb(255, 51, 0);
  border-radius: 50%;
}