.font-literata {
  font-family: "Literata", serif;
}

.font-bebas {
  font-family: "Bebas Neue", sans-serif;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-righteous{
  font-family: "Righteous", sans-serif;
}
